TUITION_FIREBASE_API_KEY=
TUITION_FIREBASE_AUTH_DOMAIN=
TUITION_FIREBASE_PROJECT_ID=
TUITION_FIREBASE_STORAGE_BUCKET=
TUITION_FIREBASE_MESSAGING_SENDER_ID=
TUITION_FIREBASE_APP_ID=
TUITION_FIREBASE_MEASUREMENT_ID=
TUITION_FIREBASE_DATABASE_URL=

TUITION_INSTITUTE_NAME=
TUITION_INSTITUTE_SHORT_NAME=
TUITION_INSTITUTE_TAGLINE=
TUITION_BRANCH_NAME=
TUITION_LOGO_ASSET=
TUITION_PRIMARY_R=
TUITION_PRIMARY_G=
TUITION_PRIMARY_B=
TUITION_SECONDARY_R=
TUITION_SECONDARY_G=
TUITION_SECONDARY_B=
TUITION_ACCENT_R=
TUITION_ACCENT_G=
TUITION_ACCENT_B=
TUITION_CONTACT_PHONE=
TUITION_WHATSAPP_NUMBER=
TUITION_SUPPORT_EMAIL=
TUITION_WEBSITE=
TUITION_PUBLIC_APP_URL=https://tuition-backend.web.app
TUITION_ADDRESS=
TUITION_FOOTER_TEXT=
